<!DOCTYPE html>

<html>

<head>
      <link rel="icon" href="../img/image_1.png">
<link  rel="stylesheet" href="../css/styles.css">
</head>

<body>

     <div class="main">
      
     {{>header}}
     <p>{{error_message}}</p>
    </div>
    
    

    
   

     {{>footer}}
</body>

</html>