<!DOCTYPE html>

<html>

<head>
  <link rel="icon" href="../img/image_1.png">
<link  rel="stylesheet" href="../css/styles.css">
<script src="../JS/application.js"></script>
</head>

<body>
    <div class="main">
      
     {{>header}}
     
    </div>
    
    
   
    
   

     {{>footer}}
</body>

</html>